[build-system]
requires = ["poetry-core>=1.0.0", ]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "sekoia-automation-sdk"

version = "1.3.5"
description = "SDK to create SEKOIA.IO playbook modules"
license = "MIT"
readme = "README.md"
authors = ["SEKOIA.IO"]
packages = [
    { include = "sekoia_automation" },
]
homepage = "https://sekoia.io/"
repository = "https://github.com/SEKOIA-IO/sekoia-automation-sdk"
documentation = "https://docs.sekoia.io/"
keywords = ["SDK", "SEKOIA.IO", "automation", "playbook"]
classifiers = [
    "License :: OSI Approved :: MIT License",
    "Natural Language :: English",
    "Intended Audience :: Developers",
    "Topic :: Security",
    "Topic :: Software Development :: Libraries"
]

[tool.poetry.scripts]
sekoia-automation = 'sekoia_automation.cli:app'

[tool.poetry.dependencies]
python = ">=3.10,<3.12"
requests = "^2.25"
sentry-sdk = "*"
tenacity = "*"
boto3 = "^1.26"
s3path = "^0.4"
orjson = "^3.8"
pydantic = "^1.10"
typer = { extras = ["all"], version = "^0.7"}
cookiecutter = "^2.1"
python-slugify = "^5.0.2"
PyYAML = "^6.0"
Jinja2 = "^3.0.3"
black = "*"  # To format files in cli tools
prometheus-client = "^0.16.0"

[tool.poetry.group.dev.dependencies]
unittest-xml-reporting = "^3"
pylint = "*"
pytest = "*"
pytest-cov = "*"
requests-mock = "^1.9"

[tool.poetry.group.lint.dependencies]
ruff = "*"
black = "*"
mypy = "*"

[tool.black]
target-version = ["py311"]
force-exclude = "tests/expectations/sample_module/main.py|sekoia_automation/scripts/new_module/template/"

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "-ra"
testpaths = [
    "tests",
]

[tool.ruff]
select = ["A", "ARG", "E", "F", "I", "N", "RUF", "UP", "W"]
exclude = [
    "tests/expectations/sample_module/main.py",
    "sekoia_automation/scripts/new_module/template/"
]

[tool.ruff.per-file-ignores]
"tests/*" = ["ARG"]  # Ignore unusued args because of pytest fixtures

[tool.mypy]
python_version = "3.11"
ignore_missing_imports = true
show_column_numbers = true
exclude = "sekoia_automation/scripts/new_module/template/"
disable_error_code = "annotation-unchecked"

